/* Style Form */
.PhonebookForm {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
  padding: 20px;
  border: 1px solid #000000;
  background-color: #fff;
}

.labelTitle {
  font-size: 20px;
  margin-bottom: 5px;
}

.input {
  width: 200px;
  margin-bottom: 15px;
}

.buttonSubmit {
  margin-right: auto;
}
input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
